More analysis needed

The following text:
>RFC 6709 {{?EXTENSIBILITY=RFC6709}} contains a great deal of well-considered
advice on designing for extension.  It includes the following advice:

>> This means that, to be useful, a protocol version-negotiation mechanism
  should be simple enough that it can reasonably be assumed that all the
  implementers of the first protocol version at least managed to implement the
  version-negotiation mechanism correctly.

>This has proven to be insufficient in practice. 

This isn't true for a great many protocols.  Two good examples are HTTP and SMTP.  SMTP has survived **no** versioning mechanism, initially, and now has a retrofitted capabilities mechanism.  There are absolutely invariants in the protocol - you can't just start speaking ebcdic at it.  When an invariant is violated, a new protocol is needed. Stewart Bryant observed this quite some time ago in RFC 5704.

I would reform the point along those lines.

Hmm, I think that you will find that HTTP is a great example of something that supports this argument as it relates to versioning.  The [upgrade](https://datatracker.ietf.org/doc/html/rfc2616#section-14.42) mechanism that HTTP defined has is basically a total failure and version indicators have proven to be equally unreliable for other purposes.

Another MIME protocol, SIP, has a versioning system that is universally acknowledged as being functionally unusable.

As for SMTP, I'm not sufficiently familiar to say.  Is the argument that the system for extending the protocol was sufficient to allow for evolution, or is it just that the insufficiency hasn't prevented workarounds from being developed?

(BTW, I think that the invariants exercise is valuable, if only to make it clear when a change to protocol X means that the resulting thing is no longer protocol X.  You remind me that it is probably worth citing Section 2.2 of RFC 5704; the discussion there would enrich the invariants treatment in this document.)

SMTP has perhaps the most interesting history here.  MIME along with an encoding header arose as a means to obviate incompatible changes to support transmission of other than ASCII.  But the extension mechanism to SMTP was really not about MIME, but "EHLO", which initiates a capabilities exchange, the most basic of which is, "do you support EHLO?"  Any other new capabilities are introduced through that statement, and can similarly be retired if they are shown not to be useful.  To "lose it" just means to stop advertising the capability.  The base issue for this draft is when to lose it.  Really Pete Resnick, Ned Freed, and Nathanial Borenstein deserve a medal for this sort of elegance (not to mention that MIME is the basis of all web content).

HTTP lacks such a mechanism.  So long as the server simply rejects unknown methods, a client can at prod and poke without causing harm.

It may be worth pursuing why SIP is so hard to upgrade.  I know very little about that protocol.

BTW, I agree that the version mechanism in HTTP is useless.  It is also harmless.

EDM: We should soften this claim to not say that it's proven insufficient, but that there are some cases where it has not been sufficient.

You might actually want to use SMTP as a positive example, and then suggest greasing the EHLO command,

The language softening was done with 76c21f4992498d5f99619e552c8646b19e9dd8c7